* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.navbar {
  display: flex;
  background-color: #090909;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navbar .logo {
  cursor: pointer;
  margin-left: 30px;
}
.navbar .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 30px;
}
.navbar .profile_pic {
  padding-right: 10px;
  width: 50%;
  height: auto;
}
.page-inactive {
  transition: ease-in-out .6s;
  width: 100%;
  height: 100vh;
  transform: translateY(0);
}
.next-page-active {
  transition: ease-in-out .6s;
  width: 100%;
  height: 100vh;
  transform: translateY(-100%);
}
.prev-page-active {
  transition: ease-in-out .6s;
  width: 100%;
  height: 100vh;
  transform: translateY(0);
}
.campaign-section {
  max-width: 560px;
  height: calc(100% - 700px);
  position: absolute;
  top: 30%;
  left: 20%;
}
.campaign-section h3 {
  width: 560px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
.campaign-section h6 {
  font-size: 16px;
  margin: 10px 0;
}
.campaign-section input,
.campaign-section textarea {
  width: 90%;
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
  height: 45px;
  padding: 10px;
  margin-bottom: 39px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.campaign-section textarea {
  width: 100%;
  height: 120px;
  resize: none;
}
input[type="text"]::placeholder,
textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.campaign-section .inactive {
  display: inline-flex;
  flex: 50% 1;
  align-items: center;
  justify-content: center;
  background: rgba(38, 36, 36, 0.5);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 150px;
  padding: 5px 12px;
  font-weight: 500;
  font-family: "Poppins";
  font-size: 16px;
  cursor: pointer;
}
.campaign-section .active {
  display: inline-flex;
  flex: 50%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 150px;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  background-color: #000;
}
.campaign-section span img {
  position: relative;
  width: 50%;
  height: auto;
  margin-left: 10px;
}

.subtitle-container {
  margin-left: 10px;
  opacity: 0.5;
  font-size: 16px;
}
.subtitle-container .left-subtitle {
  font-weight: 700;
}
.arrow-btn-container {
  position: absolute;
  right: 0;
  margin-top: 50px;
  display: flex;
}
.arrow-btn-container .active,
.arrow-btn-container .inactive {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
}
.arrow-btn-container .active {
  background: #000;
  margin-left: 10px;
}
.arrow-btn-container .inactive {
  background: #262424;
  margin-right: 10px;
  opacity: 0.5;
}
.arrow-btn-container img {
  width: 200%;
  height: auto;
}
.imagePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 39px;
  border-radius: 5px;
}
.imageContainer {
  display: flex;
}
#image {
  display: none;
}
.addBtn label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addBtn {
  width: 70px;
  height: 60px;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
}
.addBtn img {    width: 40px;
  cursor: pointer;
}
.image {
  width: 100%;
  height: auto;
}
.image img {
  width: 80px;
  height: 80px;
  margin: 0 10px 10px;
  border-radius: 5px;
  object-fit: cover;
}
.servicePage {
  margin-bottom: 39px;
}
.optionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #000;
  width: 320px;
  height: 45px;
  max-width: 240px;
  margin: 20px 0;
  cursor: pointer;
  font-size: 15px;
}
.optionContainer > p {
  color: #262424;
  padding: 10px;
}
.option {
  border: 1px solid #000;
  padding: 5px 10px;
  margin: 10px;
  font-weight: 600;
  border-radius: 5px;
}
.option-description {
  margin: 20px 0;
}
.option-description textarea {
  margin-bottom: 0;
}
.option-description .desc {
  height: 100px !important;
  max-width: 560px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  word-wrap: wrap;
}
.option-value {
  margin-right: auto;
  font-weight: 600;
}
.optionActive .option {
  border: 1px solid #fff;
}
.optionContainer img,
.categories-value img {
  width: 10%;
  margin: 10px;
}

.optionActive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 20px 0;
  border-radius: 10px;
  width: 320px;
  height: 55px;
  max-width: 250px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.platformPage {
  margin-bottom: 39px;
}
.audience-section {
  margin-bottom: 39px;
}
.preview {
  background: none !important;
  border: 1px solid #000 !important;
  color: #000 !important;
}
.submit {
  background-color: #262424 !important;
  margin-left: 50px !important;
}

.gender-list {
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #000;
  width: 320px;
  max-width: 250px;
  font-weight: 600;
  border-top: none;
  position: relative;
  top: -27px;
}
.gender-list p {
  padding: 10px 0;
  cursor: pointer;
}

.overlay {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 560px;
  z-index: 2;
  width: 560px;
}
.modal {
  max-width: 550px;
  background: #fff;
  box-shadow: 0px, 16px, 24px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 50px 40px;
  z-index: 100;
}
.categories img {
  width: 30px;
  object-fit: contain;
}

.search-bar input[type="search"] {
  background-image: url("./assets/searchBtn.png");
  background-repeat: no-repeat;
  background-position: 20px 15px;
  background-size: 20px 20px;
  object-fit: cover;
  height: 50px;
  padding-left: 50px;
}

.search-bar input[type="search"]::placeholder {
  position: absolute;
  left: 50px;
  top: 18px;
}
.categories {
  display: flex;
  justify-content: space-between;
}
.categories p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  flex: 80%;
  margin: 5px 0;
  padding: 10px 0;
  cursor: pointer;
}
.search-btn-active {
  margin: 10px auto;
  text-align: center;
  width: 80%;
  height: 40px;
  padding: 10px;
  display: block;
  color: #fff;
  background: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.search-btn-inactive {
  margin: 10px auto;
  text-align: center;
  width: 80%;
  height: 40px;
  padding: 10px;
  display: block;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.categories-value {
  width: -moz-fit-content !important;
  width: fit-content !important;
  max-width: -moz-fit-content !important;
  max-width: fit-content !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #000;
  height: 45px;
  min-width: 250px;
  margin-top: 10px;
  cursor: pointer;
}
.preview-container {
  margin-bottom: 30px;
  position: relative;
  top: -20px;
  left: -30%;
  display: flex;
  justify-content: space-between;
}

.preview-container h3 {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 5px;
}
.preview-image {
  width: 700px;
  height: 500px;
}
.preview-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview-categories {
  display: flex;
}
.preview-categories p {
  margin-right: 16px;
  background-color: rgba(38, 36, 36, 0.1);
  color: #000;
  padding: 4px 12px;
  border-radius: 10px;
}
.back-btn {
  width: 100px;
  height: 35px;
  margin-left: 100px;
  padding: 10px 20px;
  color: #fff;
  background-color: #262424;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

/* CAMPAIGN DETAILS PAGE */
.campaignDetails {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}
.left-container .campaignDetailsImage {
  width: 700px;
  height: 500px;
  margin-bottom: 25px;
}
.left-container .campaignDetailsImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details-content {
  max-width: 700px;
}
.details-content h3 {
  font-weight: 600;
  margin-bottom: 5px;
}
.details-content .date-created {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-size: 12px;
}
.details-content .campaign-type {
  background-color: #3fd5f5;
  color: #000;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  text-align: center;
  border: none;
  outline: none;
  padding: 4px 12px;
  border-radius: 25px;
  margin: 30px 0;
}
.details-content .actionBtns {
  display: block;
  margin-bottom: 30px;
}
.actionBtns .btn-secondary {
  width: 200px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
  background: none;
  outline: none;
  border: 1px solid black;
  border-radius: 25px;
  padding: 8px 29px;
  margin-right: 50px;
  cursor: pointer;
}
.actionBtns .btn-primary {
  width: 200px;
  border-radius: 25px;
  padding: 8px 29px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
  border: none;
  outline: none;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}
.content {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 500;
  max-width: 650px;
  margin-bottom: 30px;
}
.cate,
.followers-section,
.rPlatform {
  margin-top: 30px !important;
  margin-bottom: 20px !important;
}
.categories-section span {
  background: #2624241a;
  color: #000;
  width: 90px;
  font-weight: 600;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.followers-section .content {
  font-weight: 600;
}

.sm-icon-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.sm-links {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sm-links img {
  width: 40px;
  text-align: center;
}
.sm-links p {
  font-size: 16px;
  font-weight: 600;
}
.right-container h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.relatedC-images {
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
}
.relatedC-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}
.rc-content {
  width: fit-content;
  position: relative;
  top: -257px;
  left: 186px;
  background-color: #f5b63a;
  color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 4px 12px;
}
.rc-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}
.rc-paid {
  background-color: #ffde2f;
  border-radius: 25px;
  padding: 4px 12px;
  font-size: 12px;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
}
.rc-date {
  margin-left: auto !important;
  font-size: 12px !important;
  font-family: "Poppins";
  font-weight: 500;
}
.small-content {
  font-size: 14px;
  font-weight: 600;
  color: #000000b2;
  margin-bottom: 10px;
}
.rc-sm-icons img {
  margin-right: 15px;
  width: 18px;
  height: 18px;
}
.rc-sm-icons {
  margin-bottom: 30px;
}

/* WARNINGS SECTION */
.warning {
  margin: 10px 0;
  color: rgb(184, 43, 43);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
}
